<mat-card class="card">
  <div fxLayout="row wrap" fxLayout.xs="column">
    <div *ngFor="let coins of cash" fxFlex="20">
      <button (click)="addValue(coins)" mat-button class="money-button">
        <div
          class="money-button-content"
          [style.background-image]="'url(/assets/bill/' + coins.imageSrc + ')'"
        ></div>
      </button>
    </div>
  </div>
</mat-card>
<mat-card class="card-total">
  <div fxLayout="row wrap">
    <h2>Total: {{ total | number: "1.2-2" }} €</h2>
    <button mat-button (click)="deleteTotal()">
      <mat-icon>backspace</mat-icon>
    </button>
  </div>
</mat-card>
