
<form [formGroup]="change" >
  <div fxLayout="row">
  <div>
    <img
      (click)="addValue('cent1')"
      class="coins"
      src="../../../../assets/coins/1c.png"
    />{{ change.get("cent1").value }}
    <mat-icon (click)="addValue('cent1')" aria-hidden="false"
      >add_circle_outline
    </mat-icon>
    <mat-icon (click)="restValue('cent1')" aria-hidden="false"
      >remove_circle_outline
    </mat-icon>
  </div>
  <div>
    <img
      (click)="addValue('cent2')"
      class="coins"
      src="../../../../assets/coins/2c.png"
    />{{ change.get("cent2").value }}
    <mat-icon (click)="addValue('cent2')" aria-hidden="false"
      >add_circle_outline
    </mat-icon>
    <mat-icon (click)="restValue('cent2')" aria-hidden="false"
      >remove_circle_outline
    </mat-icon>
  </div>
  <div>
    <img
      (click)="addValue('cent5')"
      class="coins"
      src="../../../../assets/coins/5c.png"
    />{{ change.get("cent5").value }}
    <mat-icon (click)="addValue('cent5')" aria-hidden="false"
      >add_circle_outline
    </mat-icon>
    <mat-icon (click)="restValue('cent5')" aria-hidden="false"
      >remove_circle_outline
    </mat-icon>
  </div>
  <div>
    <img
      (click)="addValue('cent10')"
      class="coins"
      src="../../../../assets/coins/10c.png"
    />{{ change.get("cent10").value }}
    <mat-icon (click)="addValue('cent10')" aria-hidden="false"
      >add_circle_outline
    </mat-icon>
    <mat-icon (click)="restValue('cent10')" aria-hidden="false"
      >remove_circle_outline
    </mat-icon>
  </div>
  <div>
    <img
      (click)="addValue('cent20')"
      class="coins"
      src="../../../../assets/coins/20c.png"
    />{{ change.get("cent20").value }}
    <mat-icon (click)="addValue('cent20')" aria-hidden="false"
      >add_circle_outline
    </mat-icon>
    <mat-icon (click)="restValue('cent20')" aria-hidden="false"
      >remove_circle_outline
    </mat-icon>
  </div>
  <div>
    <img
      (click)="addValue('cent50')"
      class="coins"
      src="../../../../assets/coins/50c.png"
    />{{ change.get("cent50").value }}
    <mat-icon (click)="addValue('cent50')" aria-hidden="false"
      >add_circle_outline
    </mat-icon>
    <mat-icon (click)="restValue('cent50')" aria-hidden="false"
      >remove_circle_outline
    </mat-icon>
  </div>
  <div>
    <img
      (click)="addValue('euro1')"
      class="coins"
      src="../../../../assets/coins/1E.png"
    />{{ change.get("euro1").value }}
    <mat-icon (click)="addValue('euro1')" aria-hidden="false"
      >add_circle_outline
    </mat-icon>
    <mat-icon (click)="restValue('euro1')" aria-hidden="false"
      >remove_circle_outline
    </mat-icon>
  </div>
  <div>
    <img
      (click)="addValue('euro2')"
      class="coins"
      src="../../../../assets/coins/2E.png"
    />{{ change.get("euro2").value }}
    <mat-icon (click)="addValue('euro2')" aria-hidden="false"
      >add_circle_outline
    </mat-icon>
    <mat-icon (click)="restValue('euro2')" aria-hidden="false"
      >remove_circle_outline
    </mat-icon>
  </div>
  <div>
    <img
      (click)="addValue('billet5')"
      class="billet"
      src="../../../../assets/coins/5e.jpg"
    />{{ change.get("billet5").value }}
    <mat-icon (click)="addValue('billet5')" aria-hidden="false"
      >add_circle_outline
    </mat-icon>
    <mat-icon (click)="restValue('billet5')" aria-hidden="false"
      >remove_circle_outline
    </mat-icon>
  </div>
  <div>
    <img
      (click)="addValue('billet10')"
      class="billet"
      src="../../../../assets/coins/10e.jpg"
    />{{ change.get("billet10").value }}
    <mat-icon (click)="addValue('billet10')" aria-hidden="false"
      >add_circle_outline
    </mat-icon>
    <mat-icon (click)="restValue('billet10')" aria-hidden="false"
      >remove_circle_outline
    </mat-icon>
  </div>
  <div>
    <img
      (click)="addValue('billet20')"
      class="billet"
      src="../../../../assets/coins/20e.jpg"
    />{{ change.get("billet20").value }}
    <mat-icon (click)="addValue('billet20')" aria-hidden="false"
      >add_circle_outline
    </mat-icon>
    <mat-icon (click)="restValue('billet20')" aria-hidden="false"
      >remove_circle_outline
    </mat-icon>
  </div>
  <div>
    <img
      (click)="addValue('billet50')"
      class="billet"
      src="../../../../assets/coins/50e.jpeg"
    />{{ change.get("billet50").value }}
    <mat-icon (click)="addValue('billet50')" aria-hidden="false"
      >add_circle_outline
    </mat-icon>
    <mat-icon (click)="restValue('billet50')" aria-hidden="false"
      >remove_circle_outline
    </mat-icon>
  </div>
  <div>
    <img
      (click)="addValue('billet100')"
      class="billet"
      src="../../../../assets/coins/100e.jpg"
    />{{ change.get("billet100").value }}
    <mat-icon (click)="addValue('billet100')" aria-hidden="false"
      >add_circle_outline
    </mat-icon>
    <mat-icon (click)="restValue('billet100')" aria-hidden="false"
      >remove_circle_outline
    </mat-icon>
  </div>
  <div>
    <img
      (click)="addValue('billet200')"
      class="billet"
      src="../../../../assets/coins/200e.jpg"
    />{{ change.get("billet200").value }}
    <mat-icon (click)="addValue('billet200')" aria-hidden="false"
      >add_circle_outline
    </mat-icon>
    <mat-icon (click)="restValue('billet200')" aria-hidden="false"
      >remove_circle_outline
    </mat-icon>
  </div>
  <div>
    <img
      (click)="addValue('billet500')"
      class="billet"
      src="../../../../assets/coins/500e.jpg"
    />{{ change.get("billet500").value }}
    <mat-icon (click)="addValue('billet500')" aria-hidden="false"
      >add_circle_outline
    </mat-icon>
    <mat-icon (click)="restValue('billet500')" aria-hidden="false"
      >remove_circle_outline
    </mat-icon>
  </div>
</div>
</form>

